@model IEnumerable<LMS16.Core.ViewModels.UserViewModels.UserIndexViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.CourseId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="UsersPartial" />
    </tbody>
</table>
